@mixin titulo ($color__titulo, $weight__titulo, $style__titulo){
    color: $color__titulo;
    font-weight: $weight__titulo;
    font-style: $style__titulo;
}

/* general */ 
*{
    font-family: 'Lato', sans-serif;
}

p{
    color:$colorTxt;
    margin:0;
}
 
a{
    color: $accent3;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}


label, input, option, select, textarea, button{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size:1rem;
    
}

input, option, select, textarea{
    font-size:0.8rem;
}




/* ==== HEADER ==== */ 
/*BEM*/ 
.header{

    &__titulo{
    @include titulo($accent1, 300, italic );
    }

    /*navbar links*/
    &__link__a{
    font-weight: 300;
    text-transform: uppercase;
}

    &__link__a:hover{
    color: $accent1;
    transition-duration: 0.5s;
}
}

/* == MAIN == */ 
.main__titulo{
    @extend .header__link__a; /*extend*/ 
    color: $accent3;
    font-size:1.3rem; 
    text-align: center;
}

/* == ICONOS REDES == */
.main__iconos{
    display: flex;
    justify-content: center;

    i{
    color:$colorTxtFooter;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

    i:hover{
    color:$accent2;
    transition-duration: 1s;
}

} 

/* ==== FOOTER ==== */

/*BEM*/
.footer{

    &__titulo{
        @include titulo($accent2, 600 , italic);
        font-size:1rem;
        margin:0;
        padding:0;
    }
    
    &__link__a{
        font-weight: 500;
        font-size:0.8rem;
    }
    
    &__link__a:hover{
        color:$accent2;
        transition-duration: 0.5s;
    }
    
    &__creditos{
        color: $colorTxtFooter;
        font-size: 0.7rem;
    }
}



