/* BG COLOURS */ 
$layoutColor: rgb(247, 247, 247); /*layout solido*/
$bgBodyColor:rgb(235,235,235);  /*bg body*/
$bgFooterColor: rgb(226, 226, 226); /*bg footer*/

/*TEXTO*/
$colorTxt: rgb(100, 111, 116);
$colorTxtFooter: rgb(72, 85, 90);

/*ACCENT*/
$accent1: rgb(92, 165, 194);
$accent2: rgb(107, 158, 179);
$accent3: rgb(118, 143, 153); 

/*ESPACIO*/
$spaceTxt1: 0.1rem;
$spaceTxt2: 0.5rem;
$spaceTxt3: 1rem;
$spaceTxt4: 2rem;

/*FUENTE*/
$headerTituloFont: normal 2rem 'Lato', sans-serif;
$headerTituloFontWeight: 300;

$headerLinkFont: normal 1rem 'Lato', sans-serif;
$headerLinkFontWeight: 500;