.main__iconos{
    display: flex;
    justify-content: center;

    i{
    color:#e2e2e2;
    padding-right: 0.3em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    }

    i:hover{
        color:$accent2;
        transition-duration: 1s;
    }

}

@media only screen and (max-width: 767px){
/*main*/
.main__biografia{
    background-color: #000;
    background-image: url("../assets/layout/bioBgSm.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat; 

    &__contenido{
        display: flex;
        flex-direction: column;
        padding: 1em;
        padding-bottom: 3em;  
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:#e2e2e2;
        font-size: 1.2rem;
        text-align: right;
        margin-bottom: 0.5rem;
        padding-right:0.5rem;
    }

    &__texto{
        height:70vh;
        overflow-y: scroll;
        margin-bottom: 1em;
    }

    &__texto p{
    color:#d4d4d4;
    font-size: 0.8rem;
    text-align: justify;
    padding-right:0.5rem;
    padding-left:0.5rem;

    }


    
}

}

@media only screen and (min-width: 768px) and (max-width: 1199px){
    
    .main__biografia{
        background-color: #000;
        background-image: url("../assets/layout/bioBgSm.png");
        background-size: 100%; /*arreglar*/
        background-position-y: 450px;
        background-repeat: no-repeat;

    &__contenido{
        width:75%;
        margin-top:1.5em;
        display: flex;
        flex-direction: column;
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:#e2e2e2;
        font-size: 1.2rem;
        align-self: flex-end;
        margin-bottom: 0.5rem;
        
    }


    &__texto{
        margin-bottom:1em;
    }

    &__texto p{
        color:#d4d4d4;
        text-align: justify;
        line-height: 1.3rem;
        
    }
    }

}

@media only screen and (min-width: 1200px){
    .main__biografia{
        grid-area: main;
        display: flex;
        flex-direction: column;
        background-color: #000;
        background-image: url("../assets/layout/bioBg.png");
        background-size: 100%;
        background-position-x: bottom;
        background-repeat: no-repeat;
        align-items: flex-end;
        overflow-y: hidden;
        

    &__contenido{
        width: 50%;
        height:98vh;
        display: flex;
        flex-direction: column;
        padding-right: 3rem;
        padding-top: 5rem;
        overflow-y: hidden;
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:#e2e2e2;
        font-size: 1.2rem;
        align-self: flex-end;
        margin-bottom: 0.5rem;
        padding-right:0.5rem;
    }

    &__texto{
        margin-bottom:1em;
    }

    &__texto p{
        color:#d4d4d4;
        font-size: 0.8rem;
        line-height: 1.3rem;
        text-align: justify;
        padding-right:0.5rem;
        padding-left:0.5rem;
    }
    }

}