
@media only screen and (max-width: 767px){
/*main*/
.main__biografia{
    background-color: #000;
    background-image: url("../assets/layout/bioBgSm.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat; 

    &__contenido{
        display: flex;
        flex-direction: column;
        padding: $space3;
        
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:$bgFooterColor;
        font-size: $space3+($space1*2);
        text-align: right;
        margin-bottom:$spaceTxt2;
        padding-right:$spaceTxt2;
    }

    &__texto{
        overflow-y: scroll;
        margin-bottom:$spaceTxt3;
    }

    &__texto p{
    color:#d4d4d4;
    font-size: $spaceTxt1*8;
    text-align: justify;
    padding-right:$spaceTxt2;
    padding-left:$spaceTxt2;

    }


    
}

}

@media only screen and (min-width: 768px){
    
    .main__biografia{
        background-color: #000;
        background-image: url("../assets/layout/bioBgSm.png");
        background-size: 100%; /*arreglar*/
        background-position-y: 450px;
        background-repeat: no-repeat;

    &__contenido{
        width:75%;
        margin-top:$space1+$space2;
        display: flex;
        flex-direction: column;
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:$bgFooterColor;
        font-size: $spaceTxt3+($spaceTxt1*2);
        align-self: flex-end;
        margin-bottom: $spaceTxt2;
        
    }


    &__texto{
        margin-bottom:$space3;
    }

    &__texto p{
        color:#d4d4d4;
        text-align: justify;
        line-height: $spaceTxt3+($spaceTxt1*3);
        font-size: $spaceTxt1*8;
        
    }
    }

}

@media only screen and (min-width: 1024px){
    .main__biografia{
        background-color: #000;
        background-image: url("../assets/layout/bioBgSm.png");
        background-size: 100%; /*arreglar*/
        background-position-y: 90px;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 1200px){
    .main__biografia{
        grid-area: main;
        display: flex;
        flex-direction: column;
        background-color: #000;
        background-image: url("../assets/layout/bioBg.png");
        background-size: 100%;
        background-position-x: bottom;
        background-repeat: no-repeat;
        align-items: flex-end;
        overflow-y: hidden;
        

    &__contenido{
        width: 50%;
        height:98vh;
        display: flex;
        flex-direction: column;
        padding-right: $spaceTxt3*3;
        padding-top: $spaceTxt3*5;
        overflow-y: hidden;
    }

    &__titulo{
        font-weight: 400;
        font-style: italic;
        color:$bgFooterColor;
        font-size: $spaceTxt3+($spaceTxt1*2);
        align-self: flex-end;
        margin-bottom: $spaceTxt2;
        padding-right:$spaceTxt2;
    }

    &__texto{
        margin-bottom:$space3;
    }

    &__texto p{
        color:#d4d4d4;
        font-size: $spaceTxt1*8;
        line-height: $spaceTxt3+($spaceTxt1*3);
        text-align: justify;
        padding-right:$spaceTxt2;
        padding-left:$spaceTxt2;
    }
    }

}