.main__contacto__contenido{
    background-color: $layoutColor;
    width:100%;
    margin: $space2;
    
    
}

.contacto__form{
    width:100%;
    margin-bottom:$space2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    &__textarea{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &__botones button{
        margin-left: $space2;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem .75rem .375rem ; 
    font-size: $spaceTxt1*8;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $spaceTxt2%2;
}

/*MEDIA QUERIES*/ 

@media only screen and (max-width: 767px){
    .main__contacto__contenido{
    padding-left:$space3;
    padding-right: $space3;
    }

    label{
        padding-bottom:$space2;
        
    }   
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
    .main__contacto__contenido{
        padding-left:$space3*4;
        padding-right: $space3*4;
        }

        .contacto__form{
            padding-top:$space2;

            &__mail{
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &__nombre{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

    label{
        padding-right:$space2;
        
    }    

    textarea{
        height:25vh;
    }
}

/* BIG */ 
@media only screen and (min-width: 1200px){ 

.main__contacto{ 
    grid-area: main;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: ". centro .";
    margin-top:$space3;
    margin-bottom:$space3;

&__contenido{
    width:100%;
    grid-area: centro;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:$space3*4;
    padding-right: $space3*4;
    }
}

.contacto__form{
    width:50vw;
    padding-left:$space4;
    padding-right:$space4;
    padding-top:$space2;

    &__mail{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__nombre{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}


label{
padding-right:$space2;
}    

textarea{
height:25vh;
}
}