.main__discografia__contenido{
    background-color: $layoutColor;
    width:100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* ACCORDION BT */ 
.accordion, .accordion-flush, .accordion-button, .accordion-header, .accordion-flush, .accordion-item, .accordion-header{
    border: none;
}

.accordion-button:focus{
    border:none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.accordion-button.collapsed{
    border:none;
    outline: none;
}

.accordion-button:not(.collapsed){
    background:#59a7c538;
    border:none;
}

/* DISCOGRAFIA */ 


/* BEM */ 
.disco{
    width: 100%;
    line-height: 30px;
    font-size: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.082);

&__titulo{
    font-size: 0.8rem;
    font-weight: 600;
    color:$accent3;
}
    
&__titulo:hover{
    color:$accent1;
}         

&__abierto{
    display: grid;
}

&__contenido{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-self: center;
    font-weight: 500;
    color:#858E92; /*cambiar*/
}
   
&__borde{
    display: flex;
    width: 100%;
    justify-content: center;
    border-right:1px solid rgba(0, 0, 0, 0.082);
}

&__detalles{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

&__cover{
    display: flex;
    justify-content: center;    
}

&__cover img{
    width:70%;
    margin-top: 1em;
    padding-bottom:0.5em;
}

&__detalles__lista{
    list-style: circle;
}

&__tracklist__lista li{
    list-style: decimal;
}
}    

/*MEDIA QUERIES*/ 

/* BIG */ 
@media only screen and (min-width: 1200px){ 

.main__discografia{
    grid-area: main;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas: ". centro .";
    margin-top:1em;
    margin-bottom:1em;

&__contenido{
    width:60vw;
    grid-area: centro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

}
  
.discografia{ 
    width:55vw;
}

.disco__abierto{
    width:100%; 
    display: grid;
}
    
.disco__cover img{
    width:100%;
    height:100%;
    margin: 1em 1em 0 1em;
}
    
 
}