footer{
    background-color: $bgFooterColor;
}

.footer__creditos{
    text-align:center;
}

/* small */ 
@media only screen and (max-width: 767px){
    .footer{
        grid-area:footer;
        display: flex;
        flex-direction: column;
        padding: $space2;

        &__titulo{
            display: none;
            padding-bottom:$spaceTxt2;
        }



        &__links{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 0;
            margin-bottom: $space2;

        }

        &__link__a{
            padding-left: $spaceTxt3;
        }

    }  
}
    
/* medium */
@media only screen and (min-width: 768px) and (max-width: 1199px){
           
    .footer{
        width:100%;
        grid-area:footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height:1.7em;

        &__navbar{
            width:100%;
        }
        
        &__links{
            width:100%;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding:0;
            margin: 0 0 0 0;
                
        }

    }
    
    .main__iconos {
        margin-top: $space2;
      }
    
}
    
/* big */ 
@media only screen and (min-width: 1200px){
     
    .footer{
        width:100%;
        grid-area:footer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        &__navbar{
            display: none;
        }
        
    }
    
    
}